<%- include('partials/head')%>

   <body>
      <%- include('partials/navbar')%>
         <h1>My cats!!</h1>
         <%for(let c of cats){%>
            <ul>
               <li>
                  <%= c%>
               </li>
            </ul>
            <%}%>
   </body>

   </html>