<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>

<body>
   <h1>The home page</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia doloremque tenetur ea enim, alias commodi placeat
      blanditiis architecto, possimus sequi laudantium unde quasi, adipisci earum quo ad repellendus aliquid ratione?
      Nostrum exercitationem, debitis, modi ex tempora, at hic voluptate porro asperiores libero dolores totam
      voluptatibus quis dolore omnis aspernatur molestias sunt magnam culpa. Ducimus in animi blanditiis eos quisquam
      laboriosam!
      At est similique aperiam laborum veritatis facere sapiente impedit sequi, praesentium neque ut libero accusamus
      nam tenetur porro ratione iure incidunt aliquid repellat iste asperiores aliquam aspernatur repudiandae corrupti!
      Reiciendis?
      Nesciunt quos eius consectetur iusto vitae consequuntur, omnis dolor inventore aut, eaque amet, ullam eveniet?
      Dolores molestiae similique, pariatur, est maxime, voluptas repudiandae magnam perferendis facere atque suscipit
      qui dolorem?
      Quibusdam iste distinctio tempore atque repellendus expedita quidem modi, blanditiis cumque, assumenda fuga aut
      tempora debitis nobis officia ex sed non eum eos quam amet? Beatae animi rerum ipsam accusamus?</p>
</body>

</html>