html {
   box-sizing: border-box;
   /*  */
   font-family: 'Open Sans', sans-serif;
}

ul {
   list-style-type: none;
}

body {
   background-color: #60a9ff;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.panel {
   background-color: white;
   border-radius: 15px;
   padding: 15px 25px;
   width: 100%;
   max-width: 960px;
   display: flex;
   flex-direction: column;
   /* for mobile first */
   text-align: center;
   text-transform: uppercase;
}

.pricing-plan {
   border: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
   border-bottom: none;
}

.pricing-img {
   margin-bottom: 25px;
   width: 100%;
   max-width: 100%;
}