html {
   font-size: 10px;
}

div {
   width: 50%;
   height: 50%;
   background-color: lightpink;
   display: inline-block;
}

body {
   margin: 0;
}

h1 {
   background-color: lightgray;
   width: 200px;
   /* border: 8px solid black;*/
   border-width: thin;
   padding-left: 30px;
   padding-top: 20px;
   margin: 10px;
   /*space between the elements ouside of border */
   font-size: 40px;
   line-height: 200%;
}

h2 {
   background-color: rgb(59, 142, 180);
   border: 3px solid black;
   display: inline;
   /* makes the element inline */
   /* inline-block - behaves like inline but you can set width and height and they are respected*/
   /* inline - width and height are ignored , block - block elements break the flow of a document*/
}

span {
   background-color: rgba(144, 238, 144, 0.5);
   display: block;

}

#one {
   background-color: lightskyblue;
   border-width: 5px;
   border-color: rgb(222, 180, 248);
   border-style: solid;
   box-sizing: border-box;
   padding: 50px;
   /* includes border in width and height */
   margin-bottom: 10px;
}

#two {
   background-color: rgb(222, 180, 248);
   border-color: rgb(210, 40, 150);
   border-width: 3px;
   border-style: dashed;
   box-sizing: border-box;
   border-left-width: 8px;
   border-left-color: teal;
   padding: 5px 4px 3px;
   /* top horizontal bottom */
}

#three {
   background-color: rgb(235, 186, 218);
   border: 6px dotted lightskyblue;
   /*width style color */
   box-sizing: border-box;
   border-radius: 5%;
   padding: 20px 20px;
   /*vertical horizontal*/
}

button {
   padding: 5px 10px 5px 10px;
   /*top right bottom left */
}

/*padding - space between content and border*/
section {
   background-color: lightyellow;
   width: 400px;
   height: 200px;

}

/*ems - relative unit based on font size */
/*1em = current font size of the parent element */
/*2em = 2 times the current font size of the parent element */
/*also used with margin and padding */
/*useful when you want to scale things based on font size */

ul {
   font-size: 1.5em;
   /*problematic*/
   /*rems - root ems - relative to the root element font size */
   /* <html lang="en"> is root element */
}

#rems h2 {
   font-size: 3rem;
}

/*opacity - transparency level of an element */
#sec {
   background-color: rgb(80, 18, 18);
}

#divider {
   width: 50%;
   height: 50%;
   opacity: 0.5;
   background-color: navy;
}

/*alpha - on one element and opacity on another element combine multiplicatively */
/*positioning - static , relative , absolute , fixed , sticky */
/*static - default positioning for all elements */
/*relative - positioned relative to its normal position */
/*absolute - positioned relative to the nearest positioned ancestor */
/*fixed - positioned relative to the viewport */
/*sticky - toggles between relative and fixed , based on the scroll position */
.container {
   background-color: white;
}

#static {
   color: black;
   background-color: white;
   font-size: 40px;
   border-color: white;
}

#box1 {
   width: 100px;
   height: 100px;
   background-color: aquamarine;
   border: 4px solid black;
   margin-right: 20px;
}

#middleStatic {
   width: 100px;
   height: 100px;
   background-color: rgb(45, 82, 70);
   border: 4px solid black;
   position: static;
}

#box3 {
   width: 100px;
   height: 100px;
   background-color: aquamarine;
   border: 4px solid black;
   margin-left: 20px;
}

#middleRelative {
   position: relative;
   top: 20px;
   width: 100px;
   height: 100px;
   background-color: rgb(45, 82, 70);
   border: 4px solid black;
}

#middleAbsolute {
   position: absolute;
   top: 20px;
   width: 100px;
   height: 100px;
   background-color: rgb(45, 82, 70);
   border: 4px solid black;
}

#middleFixed {
   position: fixed;
   top: 5px;
   width: 100px;
   height: 100px;
   background-color: rgb(45, 82, 70);
   border: 4px solid black;
}

#middleSticky {
   position: sticky;
   right: 50px;
   width: 100px;
   height: 100px;
   background-color: rgb(45, 82, 70);
   border: 4px solid black;
}