body {
   font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
   text-align: center;
}

#container {
   background-color: #003049;
   width: 90%;
   height: 400px;
   margin: 0 auto;
   border: 5px solid #003049;
   display: flex;
   /* flex box propreties on this container */
   /* x axis - main axis, y axis - cross axis*/
   flex-direction: row;
   /* main axis direction*/
   /* justify-content: flex-start; */
   /* where they get piled out */
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
   /* for cross axis */
   /* align-content: space-between; */
   /* space between the cross axis works if we have flex wrap wrap*/
}

#container div {
   width: 200px;
   height: 200px;
   text-align: center;
   font-size: 4em;
   /* align-items: flex-end; */
   flex-basis: 200px;
   /* max-width: 300; */
}

div:nth-of-type(1) {
   flex-grow: 1;
   flex-shrink: 3;
}

div:nth-of-type(2) {
   /* flex grow, flex shrink, flex basis */
   flex: 2 2 10%
}

div:nth-of-type(4) {
   flex-grow: 2;
   flex-shrink: 0;
   /* it doesnt shrink */
}

/*div:nth-of-type(4) {
   align-self: flex-end;
}*/

/* flex-basis - defines an initial size of an element before addidtional space is distributed */
/* flex-grow - controls the amount of available space an element should take up */
/* flex-shrink - if items are larger than the container, they shrink accordingly  */

main {
   width: 80%;
   margin: 0 auto;
   border: 5px solid black;
   height: 500px;
   display: flex;
}

main .sidebar {
   background-color: #6930c3;
   /* border: 2px solid white; */
   flex: 1 2 300px;
}

main .maincontent {
   background-color: #80ffdb;
   flex: 2 1 800px;
}