/* .BoxGrid {
   width: 800px;
   height: 800px;
   margin: 100px;
   border: 1px solid black;
   display: flex;
   flex-wrap: wrap;
} */

.BoxGrid {
   width: 500px;
   height: 500px;
   margin: 100px auto;
   border: 1px solid black;
   display: grid;
   /* Create 5 equal columns and 5 equal rows */
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
}